[submodule "ebanking-backend"]
	path = ebanking-backend
	url = https://github.com/Musta1Pha/ebanking-backend.git
[submodule "Digital-Banking-Web"]
	path = Digital-Banking-Web
	url = https://github.com/Musta1Pha/Digital-Banking-Web.git
